 * {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
    width: 50px;
  margin-top: 15px;
}
.navbar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
